[submodule "01_software/02_src/bulckyface/main/bulckyface.wiki"]
    path = 01_software/02_src/cultibox/main/cultibox.wiki
    url = https://github.com/cultibox/cultibox.wiki.git
[submodule "01_software/02_src/bulcky"]
	path = 01_software/02_src/bulcky
	url = https://github.com/bulck/bulckyUI.git
[submodule "01_software/02_src/mobile"]
	path = 01_software/02_src/mobile
	url = https://github.com/bulck/bulckyMobile.git
[submodule "02_bulcky_services/01_bulckyPi"]
	path = 02_bulcky_services/01_bulckyPi
	url = https://github.com/bulck/bulckyCore.git
