Package: bulckycam
Version: 1.0.0-debian
Section: Utilities
Maintainer: Yann Genevois <yann.genevois@bulck.fr>
Homepage: http://www.bulck.fr
Priority: extra
Architecture: armhf
Description: Bulckycam manage webcam snapshot for Bulcky

